{% extends "base.njk" %}

{% block title %}Editar Receta{% endblock %}

{% block heading %}Editar Receta{% endblock %}

{% block content %}
<form action="/recetas/{{receta._id}}/editar" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="titulo">Titulo:</label>
    <input type="text" class="form-control" name="titulo" placeholder="Nombre de la receta..."
      value="{{ receta.titulo }}">
  </div>
  <div class="form-group">
    <label for="imagen">Imagen:</label>
    <input type="file" class="form-control" id="imagen" name="imagen">
  </div>
  <div class="form-group">
    <label for="comensales">Número de Comensales:</label>
    <input type="number" class="form-control" id="comensales" name="comensales" value="{{ receta.comensales }}" required
      min="1">
  </div>
  <div class="form-group">
    <label for="preparacion">Tiempo de Preparación (minutos):</label>
    <input type="number" class="form-control" id="preparacion" name="preparacion" value="{{ receta.preparacion }}"
      min="1">
  </div>
  <div class="form-group">
    <label for="coccion">Tiempo de Cocción (minutos):</label>
    <input type="number" class="form-control" id="coccion" name="coccion" value="{{ receta.coccion }}" required min="0">
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <textarea class="form-control" id="descripcion" name="descripcion" rows="3"
      required>{{ receta.descripcion }}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Guardar Receta</button>
</form>
{% endblock %}